:root {
    --background-color: #1e2129;
    --primary-color: #85888f;
    --secondary-color: #85888f;
}

body {
    margin: 0;
    padding-top: 3rem;
    background-color: var(--background-color);
    text-align: center;
    color: var(--primary-color);
}

body ul {
    list-style-type: none;
    padding: 0;
}

.about-layout {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 900px;
    margin:4rem auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    align-items: center;
    text-align: left;
}

.about-image{
    justify-self: end;
}

.about-image img {
    justify-self: end;
    width: 100%;
    max-width: 180px;
    height: auto;
}

th {
    color: var(--primary-color);
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

td {
    color: var(--secondary-color);
    font-size: 18px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

th:first-child,
td:first-child {
    padding-right: 1rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    font-family: sans-serif;
    font-weight: bold;
    background: #2094f3;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #feffff;
    padding: 1rem;
    display: block;
}

nav a:hover {
    background: #1976d275;
}

nav a.active {
    background: #1976d2;
}

@media (max-width: 700px){
    .about-layout {
        grid-template-columns: 1fr;
        margin: 2rem 1rem;
    }

    .about-image {
        order: -1;
    }
}